body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
}


.sidenav::-webkit-scrollbar {
        width: 4px;
    }


.sidenav::-webkit-scrollbar-thumb {
        background-color: rgb(0, 141, 71);
        outline: 1px solid slategrey;
    }

.sidenav a:hover {
    color: #333333;
}



.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}